:root {
	--main-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background-color: rgb(234, 234, 234);
}

#overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: none;
	position: absolute;
	justify-content: center;
}

#overlay > .overlay-background {
	width: 100%;
	height: 100%;
	backdrop-filter: blur(2px);
	position: absolute;
}

.search-container {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
}

.search-wrapper {
	max-width: 70rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#overlay > .search-wrapper {
	position: relative;
	margin-top: 3rem;
}

.input-container {
	display: flex;
	background-color: rgb(54, 177, 253);
	width: 100%;
	min-height: 6rem;
	overflow: hidden;
	border-radius: 1.2rem;
	box-shadow: var(--main-box-shadow);
	position: relative;
}

.input-container > input {
	width: 0px;
	min-width: 50px;
	flex: 5;
	border: none;
	/* border-right: 3px solid grey; */
	padding-left: 1.2rem;
	font-size: 2rem;
}

.input-container > button {
	flex: 1;
	border: none;
	background: none;
	position: relative;
}

#search-text {
	padding-left: 1rem;
}

.user-list-container {
	padding: 0 3rem;
	display: flex;
	justify-content: center;
}

.user-list-wrapper {
	max-width: 70rem;
	width: 100%;
}

.user-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.user-list-item {
	min-height: 0rem;
	display: flex;
	align-items: center;
	padding: 2rem;
	background-color: white;
	border-radius: 2rem;
	box-shadow: var(--main-box-shadow);
	justify-content: space-between;
	transition: min-height 0.5s;
	position: relative;
	overflow: hidden;
}

div.user-list-item-banner {
	width: 100%;
	height: 50%;
	position: absolute;
	background: rgb(197, 197, 197);
	top: 0;
	left: 0;
}

.user-list-item > .user-list-item-content,
.user-list-item > .view-btn {
	position: relative;
}

.user-list-item-content {
	display: flex;
	align-items: center;
}

.user-list-item-content > img {
	border-radius: 50%;
	border: 2px solid rgb(208, 208, 208);
}

.user-list-item > button.view-btn {
	/* align-self: flex-end; */
}
