:root {
	--main-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background-color: rgb(234, 234, 234);
	font-family: 'Roboto', sans-serif;
}

button {
	border: none;
	background: none;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: none;
	position: absolute;
	justify-content: center;
	z-index: 1;
	padding: 0rem 3rem;
}

#overlay > .overlay-background {
	width: 100%;
	height: 100%;
	backdrop-filter: blur(2px);
	position: fixed;
}

.search-container {
	width: 100%;
	display: flex;
	padding: 3rem 3rem 0rem 3rem;
	justify-content: center;
	height: 16rem;
	position: relative;
}

.search-wrapper {
	position: relative;
	max-width: 70rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#overlay > .search-wrapper {
	top: 3rem;
	height: 6rem;
}

.input-container {
	display: flex;
	background-color: rgb(54, 177, 253);
	width: 100%;
	height: 6rem;
	overflow: hidden;
	border-radius: 1.2rem;
	box-shadow: var(--main-box-shadow);
	position: relative;
}

.input-container > input#search {
	width: 0px;
	min-width: 50px;
	flex: 5;
	border: none;
	/* border-right: 3px solid grey; */
	padding-left: 1.2rem;
	font-size: 2rem;
}

.input-container > input#search:focus {
	outline: none;
}

.input-container > button.search-button {
	flex: 1;
	position: relative;
	cursor: pointer;
}

button.search-button:hover {
	background-color: rgb(55, 162, 224);
}

#search-text {
	position: absolute;
	top: 7rem;
	padding-left: 1rem;
}

.user-list-container {
	padding: 0 3rem;
	display: flex;
	justify-content: center;
}

.user-list-wrapper {
	max-width: 70rem;
	width: 100%;
}

.user-list {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.user-list-item {
	min-height: 0rem;
	display: flex;
	align-items: center;
	padding: 2rem;
	background-color: white;
	border-radius: 2rem;
	box-shadow: var(--main-box-shadow);
	justify-content: space-between;
	transition: min-height 0.5s;
	position: relative;
	overflow: hidden;
}

div.user-list-item-banner {
	width: 100%;
	height: 50%;
	position: absolute;
	background: rgb(197, 197, 197);
	top: 0;
	left: 0;
}

.user-list-item-banner::before {
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 100%);
	position: absolute;
	top: 0;
	left: 0;
}

.user-list-item > .user-list-item-content,
.user-list-item > .view-btn {
	position: relative;
}

button.view-btn {
	color: white;
	background-color: rgb(54, 177, 253);
	padding: 0.5rem 1rem;
	cursor: pointer;
	border: 3px solid white;
	border-radius: 0.5rem;
	font-weight: 700;
}

button.view-btn:hover {
	background-color: rgb(55, 162, 224);
}

.user-list-item-content {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.user-list-item-content > img {
	border-radius: 50%;
	background-color: white;
	box-shadow: var(--main-box-shadow);
}

.user-list-item > button.view-btn {
	/* align-self: flex-end; */
}

.user-info-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.username {
	color: white;
	filter: drop-shadow(3px 3px 3px rgb(0, 0, 0, 0.2));
}

.full-name {
	font-weight: 400;
}
